<form #f="ngForm" (ngSubmit)="onSubmit(f.form)" >
    <!--local temp variable "f" is set it to the ngControl 
    directive applied to this input field  -->
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
            ngControl="firstName" 
            #firstName="ngForm" 
            (change) ="log(firstName)" 
            id="firstName" type="text" class="form-control" required
            minlength="3">
        <div *ngIf="firstName.touched && firstName.errors">
            {{firstName.error | json }}
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.errors.required">
                First Name is required...
            </div>
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.errors.minlength">
                First Name should be minimum {{ firstName.errors.minlength.requiredLength }} characters...
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
            #comment="ngForm"
            ngControl="comment" 
            id="comment" cols="30" rows="10" 
            class="form-control"
            required>
        </textarea>
        <div class="alert alert-danger" *ngIf="!comment.valid && comment.touched">
            Comment is required...
        </div>
    </div>
    <button class="btn btn-primary" type="submit"[disable]="!f.valid">Submit</button>
</form>